
yolo.h5

tinyModel.py

yolo-tiny.h5

.vscode/settings.json

data/Test/hdpe.jpg

data/Test/hdpeN.jpg

data/Test/pet.jpg

data/Test/petN.jpg

data/Test/plastic.jpg

data/Test/plasticN.jpg

result/Test/

data/Test/

Training model/
